<!doctype html>
{% load custom_filters %}
<html>

    <head>
        <meta charset="utf-8">
        <title>A forum about nothing</title>
    </head>

    <body>

        <header>
            {% if request.path != '' %}

            <p><a href="{% url 'home' %}">Home</a>
            {% with request.path|make_chain as path_chain %}

            {% for link in path_chain %}
            &gt;<a href="{{ link|get_elem:1 }}"> {{ link|get_elem:0 }} </a>

            {% endfor %}
            {% endwith %}
            </p>
            {% endif %}
        </header>

        {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign up</a> 
        {% endif %}

        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>

